.button-container {
  /* background: linear-gradient(180deg, rgba(247, 147, 26, 0.2) 0%, rgba(45, 40, 255, 0.2) 100%); */
  /* border-radius: 10px; */
  padding: 10px;
  /* height: 40px; */
  color: white;
  cursor: pointer;
  transition: all 0.3s ease;
  margin-bottom: 10px;
  width: 100%;
  border-bottom: 1px solid #0000004D;
  /* border: 1px solid #0000004D */
}

.button-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button-details {
  margin-top: 10px;
  animation: slideDown 0.3s ease;
  font-size: 0.8rem;
  display: flex;
  justify-content: space-around;
  color: black;
}

.dropdown-arrow {
  font-size: 20px;
}

@keyframes slideDown {
  from { max-height: 0; opacity: 0; }
  to { max-height: 100px; opacity: 1; }
}
