/* CardAnimation.css */
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card {
    /* border: 1px solid; */
    border-radius: 10px;
    padding: 20px;
    width: 277px;
    height: 182px;
    background-color: white;
    /* background: linear-gradient(180deg, rgba(247, 147, 26, 0.2) 0%, rgba(45, 40, 255, 0.2) 100%); */
    /* box-shadow: 0 4px 8px rgba(236, 1, 1, 0.514); */
    transition: transform 0.3s ease, height 0.3s ease;
    animation: growShrink 2s ease-in-out infinite;
    overflow: hidden;
  }

  .card img{
    width:70px;
    height:70px;
    border-radius:50%;
  }
  
  @keyframes growShrink {
    0%, 100% {
      transform: scaleY(1);
    }
    50% {
      transform: scaleY(1.1);
    }
  }
  
  .card h2 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .card p {
    font-size: 1em;
  }

  .resuDtae{
    font-size:0.9rem
  }

  @media screen and (max-width: 1330px) {
    .card{
      width: 250px;
      height: 170px;
    }
    .card img{
      width:50px;
      height:50px;
      border-radius:50%;
    }
    .resuDtae{
      font-size:0.7rem
    }
  }