.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }

  .card-container-mobile{
    display: none;
    gap: 20px;
    justify-content: center;
    padding: 20px;
  }
  
  .custom-card {
    width: 400px;
    /* background: linear-gradient(180deg, #f2d4d8 0%, #e6e9f0 100%); */
    /* background:"linear-gradient(180deg, rgba(247, 147, 26, 0.2) 0%, rgba(45, 40, 255, 0.2) 100%)" */
    border-radius: 16px;


  }
  
  .card-title {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1.25rem;
    margin-bottom: 10px;
  }
  
  .custom-avatar {
    /* background: linear-gradient(180deg, #c084fc 0%, #e2e2e2 100%); */
    background: linear-gradient(180deg, rgba(247, 147, 26, 0.8) 0%, rgba(45, 40, 255, 0.8) 100%);

    color: white;
    font-weight: bold;
  }
  
  .MuiListItem-root {
    padding: 8px 0;
  }
  
  .MuiTypography-body1 {
    font-weight: bold;
  }

  .ldr-btn-cls{
    display: none;
  }
  
  @media screen and (max-width: 480px) {
    .ldr-btn-cls{
      display: flex;
    }
    .card-container {
      display: none !important;
    }
    
    .card-container-mobile {
      display: flex !important;
    }
  }